<header class="header">
    <a href="#" class="logo"><%- config.title %></a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="nav-item"><a href=".">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="hero" style="height: 300px;">
          <div class="hero__background">
            <img src="/img/background.png">
          </div>
        <div class="hero__cover on"></div>
    </div>
</header>
