/*html { height: 100%;
 max-height: 100%;
 font-size: 64%;
 }*/
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #3A4145;
  background: white;
}

button {
  border: 1px #fff solid;
  padding: 0 1rem;
  background: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
}

button:hover, button:active { 
  background: rgba(0,0,0,0.2);
 }