// $link-color = #50585D;
// $link-color-hover = #000;

$link-color = #287398;
$link-color-hover = #DD0D4C;

$meta-color = #888;
$meta-color-hover = #333;

$readmore-color = #999;
$meta-bg-color-hover = #999;

$moody-grey = #888;
$moody-dark = #3A4145;
$moody-grey-bg = #f8f8f8;