body {
  font-family: 'Open Sans', 'Hiragino Sans GB', '微软雅黑', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  color: $moody-dark;
  background-color: #f1f1f1;
}

button {
  border: 1px #fff solid;
  padding: 0 1rem;
  background: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;

  &:hover,
  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
