figure {
  margin: 1em 0;
}

/* Hexo: Syntax Highlighter */

figure.highlight {
  font-size: 0.8em;
  border-bottom: 1px solid #e1e1e1;
  overflow: auto;

  table {
    // margin: 0;
  }

  pre {
    border: 0;
    margin: 0;
  }
}
// figure.highlight figcaption { padding: 8px 10px; font-size: .8em; }
// figure.highlight table > tbody > tr > td { padding: 0; background: #fff !important; }
figure.highlight td.gutter { max-width: 55px; width: 30px; text-align: left; color: #999; }
// figure.highlight pre { border: none; margin: 0; }
// figure.highlight { background: #fff; border-radius: 2px; border-bottom: 1px solid #e1e1e1; line-height: 1.45em; font-size: .8em; margin-bottom: 1em; overflow: auto; white-space: pre; word-wrap: normal; }
code, tt { padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
font-size: 0.85em;
white-space: pre-wrap;
border-bottom: 1px solid #e0e0e0;
background: #f8f8f8;
border-radius: 2px;
}
pre { -moz-box-sizing: border-box;
  box-sizing: border-box;
margin: 1.2em 0;
border-bottom: 1px solid #e4e4e4;
width: 100%;
padding: 1.62em;
font-family: Monaco, Menlo, Consolas, monospace, "Courier New", sans-serif;
font-size: 0.85em;
line-height: 1.6em;
white-space: pre;
overflow: auto;
background: #f8f8f8;
border-radius: 2px;
}
pre code, tt { font-size: inherit;
  white-space: -moz-pre-wrap;
white-space: pre-wrap;
background: transparent;
border: none;
padding: 0;
}