.header {
    z-index: 1;
    background-color: #274951;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
}

.header__container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.logo {
  display: block;
  width: 140px;
  font-size: 36px;
  font-size: 18px;
  color: #fff;
  background-color: #19768C;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  font-family: 'League Gothic';

  &:hover, &:focus {
    background-color: $link-color;
    color: #fff;
    text-decoration: none;
  }
}

.header__nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding-right: 70px;
}

.header__nav-list .nav-item {
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 12px;
    height: 43px;
    margin-left: 20px;
    padding-left: 20px;
    float: left;
}

.header__nav-list .nav-item:before {
    position: absolute;
    content: "";
    z-index: -1;
    background: url('/img/icons.png') 0 -798px no-repeat;
    width: 7px;
    height: 14px;
    top: 14px;
    left: 0px;
}

.nav-item a {
    color: #fff;
    text-transform: uppercase;
    &:hover {
      color: #77c4bc;
      text-decoration: none;
    }
}

.hero {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.hero__background {
  img {
    width: 100%;
    position: relative;
    top: -130px;
  }
}

.hero__cover {
  width: 100%;
  height: 100%;
  background-image: url(/img/grid.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}