.site-head {
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}


.blog-logo {
  text-decoration: none;
  img {
    max-height: 100px;
  }
}

.blog-title {
  margin: 0 0 10px 0;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

.blog-description {
  margin: 0;
  line-height: 1.3em;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}