.pagination {
  position: relative;
  font-size: 0.9rem;
  color: $moody-grey;
  text-align: center;
  width: 90%;
  max-width: 700px;
  margin: 1rem auto;
  padding: 0.5rem 0;
}

.older-posts, .newer-posts {
  position: absolute;
  padding: 3px 15px;
  border: #EBF2F6 2px solid;
  border-radius: 30px;
  transition: border ease 0.3s;

  &:hover {
    border-color: #9EABB3;
    text-decoration: none;
  }
}

.older-posts {
    right: 0;
}

.newer-posts {
  left: 0;
}