.post {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
}

.post-title {
  margin: 10px 0;
  text-transform: uppercase;
}

.post-content {
  padding-top: 10px;

  h3 {
    background-color: gray;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
  }
}

.post-meta {
  font-size: 0.9rem;
  display: block;
  margin-top: 20px;
  a {
    color: $meta-color;
    &:hover {
      color: $meta-color-hover;
      text-decoration: underline;
    }
  }
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.post-excerpt {
  p {
    margin: 1.6rem 0 0 0;
    line-height: 1.6em;
  }
}

.excerpt-link {
  padding: 6px 15px;
  background: #eee;
  color: $meta-color;
  text-decoration: none;

  &:hover {
    background: $meta-bg-color-hover;
    color: #fff;
  }
}