.post {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  border-bottom: #EBF2F6 1px solid;
}

.post-header {
  padding: 10px;
  background: #eee;
  color: #fff;
  border-left: 3px solid #eee;

  &:hover {
    border-left: 3px solid #f00;
  }
}

.post-title {
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px dashed #eee;
  padding: 5px 0;

  a:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.post-content {
  padding-top: 10px;

  h3 {
    background-color: gray;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
  }
}

.post-meta {
  font-size: 0.9rem;
  display: block;
  margin: 20px 0;
  margin-top: 10px;

  a {
    color: $meta-color;
    font-style: italic;
    &:hover {
      color: $meta-color-hover;
    }
  }
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.post-excerpt {
  p {
    margin: 1.6rem 0 0 0;
    line-height: 1.6em;
  }
}

.read-more {
  display: block;
  margin: 3rem 0 1.5rem;
}

.excerpt-link {
  padding: 6px 15px;
  background: #eee;
  color: $meta-color;
  text-decoration: none;

  &:hover {
    background: $meta-bg-color-hover;
    text-decoration: none;
    color: #fff;
  }
}

.post-footer {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 2rem 0 0 0;
  border-top: #EBF2F6 1px solid;

  h4 {
    margin: 0;
  }

  p {
    font-size: 0.9rem;
  }

  .author {
    margin-right: 240px;
  }

  .share {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 160px;

    a {
      display: inline-block;
      margin: 1rem 0.9rem 0 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}